services:
  app:
    build: .
    volumes:
      - .:/app
      - ./logs:/app/logs
    env_file:
      - .env
    user: "${UID}:${GID}"
    environment:
      - LOG_FILE_PATH=logs/app.log
      - PYTHONPATH=/app/backend
      - HOME=/tmp
    depends_on:
      - db
    command: sh -c "poetry run alembic upgrade head && poetry run uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
    ports:
      - "8000:8000"

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    ports:
      - "5432:5432"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - app

volumes:
  postgres_data:
