services:
  app:
    build: .
    volumes:
      - .:/app
      - ./logs:/app/logs
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - .env
    user: "${UID}:${GID}"
    environment:
      - LOG_FILE_PATH=logs/app.log
      - PYTHONPATH=/app/backend
      - HOME=/tmp
    depends_on:
      - db
    command: sh -c "poetry run alembic upgrade head && poetry run uvicorn app.main:app --host 0.0.0.0 --port 8000 --workers 4"
    ports:
      - "8000:8000"
    dns:
      - 8.8.8.8
      - 8.8.4.4

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    
    env_file:
      - .env
    ports:
      - "5432:5432"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        REACT_APP_API_URL: http://167.172.91.44:8000/api/v1
    ports:
      - "3000:80"
    depends_on:
      - app

volumes:
  postgres_data:
